/*# is id
. is class*/

body{
	margin:0;
	padding:0px 0 0 0;
	background: url(home_background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*Menu properties*/
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
	overflow: hidden;
	background-color: transparent;
	text-align:center;
}

/*List of menu items within list*/
.menu li {
	display: inline-block;
}

/*All a in list of menu*/
.menu li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	/*font-size: 17px;*/
}
.menu li a:hover {
	background-color: #383838;
	/*background: #383838;*/
}

.menu li.icon {
	display: none;
	background-color: #383838;
}

/*when the button is being clicked*/
.menu li a:active {
		/*background-color: #f90;*/
 }

/*.menu .current_page_item a, .menu .current-menu-item a {
background-color: #403630;
}
*/

/*Hyperlink Properties*/
a { 
	color:white;
 }

a, a:hover, a:active, a:visited {
	color:white;
}


@media screen and (max-width:800px) {
  ul.menu li {
	display: none;
  }
  /*position of menu icon*/
  ul.menu li.icon {
	float: center;
	display: inline-block;
  }
  ul.menu.responsive {
	position: relative;

  }
  /*position of menu after being clicked on*/
  ul.menu.responsive li.icon {
	/*position: center;
	right: 0;
	top: 0;*/
  }
  ul.menu.responsive li {
	float: none;
	display: inline;

  }
  /*deals with position of menu items*/
  ul.menu.responsive li a {
	display: block;
	text-align: center;
  }
}

div.hide{
	display:none;
}
div.show{
	display:block; 

}

.menu {

}

.textblockattributes{
	font-family: "Courier New";
	color: white;
	font-size: 20px;
	background-color: #383838;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	/*border: 1px solid white;*/

}

#home {

}

.paragraphformat {
	color: white;
	/*background-color: rgba(40,40,40,0.9);*/
	font-size: 25px;
	margin: 0 auto;
	/*width:60%;*/
}

#about {
	margin: 0 auto;
	background-color: rgba(40,40,40,0.40);
	width:92%;
}​

#about a:visited{
	color:white;
}

#contact{
	
}

#media{
	margin: 0 auto; 
	width: 50%;
	color: white;
}

#title {
	margin:auto;
	position:relative;
	margin-top: 50px;
	/*width: 100%;*/ 
	text-align: center;
	/*padding: 10px;
	border: 1px solid black;*/
}



