
/*# is id
. is class*/


body{
	margin:0;
	padding:0px 0 0 0;
	font-family: Verdana;
	
}

#title
{
	float: left;
	width: 100%;
	height: 900px;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover; /* Safari and Chrome */
	-moz-background-size: cover; /* Firefox */
	-o-background-size: cover; /* Internet Explorer */
	background-size: cover; /* CSS3 */
	background-image: url("HomeBackground.jpg");
}

#introduction
{
	float:left;
	width: 100%;
	margin-top: -30px;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	background-color: #282828;
	padding-bottom: 150px;

}

.borderdown{
	float: left;
	width: 100%;
	height: 100px;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover; /* Safari and Chrome */
	-moz-background-size: cover; /* Firefox */
	-o-background-size: cover; /* Internet Explorer */
	background-size: cover; /* CSS3 */
	background-image: url("border_down.png");
	position: relative;
}